<router-outlet></router-outlet>
<h1>Welcome to My First Angular Project</h1>
<p>This will be so exciting!</p>
<p>{{ message }}</p>


<ul>
  <li *ngFor="let reminder of reminders">
    {{ reminder }}

  </li>
</ul>
<courses> Courses</courses>

